/* 
    1rem = 16px
*/

:root{
    /* Global variables */
    --primary-color: #000000;
    --secondary-color: #f4ce24;
    --header-color: #b83018;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

/* Reset properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--primary-font);
    
}
/* Header */
.header{
    padding: 0.5rem 2rem;
    /*background-color: var(--header-color);*/
}
.header__title{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-family: 'Merriweather Sans', sans-serif;
}
.header__slogan{
    color: #7D7D7D;
    font-size: .9rem;
    font-family: var(--secondary-font);
    line-height: 21px;
    font-weight: 400;
}

/* Navbar */
.navbar{
    background-color: var(--primary-color);
}
.navbar::after{
    content: '';
    display: block;
    height: 5px;
    background-color: var(--secondary-color);
}

.navbar-menu{
    display: flex;
    padding-left: 4rem;
    list-style-type: none;
    flex-wrap: wrap;
}
.navbar__link{
    font-family:  var(--secondary-font);
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .8rem 2rem;
    border-left: 1px solid white;
    transition: .3s all ease-in-out;
}
.navbar__link:hover{
    background-color: var(--secondary-color);
}
.navbar__link--active{
    background-color: var(--secondary-color);
}

/* Slider*/
.slider {
    width: 100vh;
    height: 80vh;
    position: absolute;
    text-align: center;
    background-image:url(../assets/primaria_1.jpg);
    background-image: linear-gradient(to right, rgb(0, 47, 255), rgb(105, 45, 184));

}
.subtitle{
    font-family: var(--secundary-font);
    color: var(--secondary-color);
    font-size: 35px;
    padding: 50px;

    
}


.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
}

/* Animación */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .form_1{
    display: inline-block;
  }
  .form_2{
    display: inline-block;
    margin-left: 700px;
    margin-top: -200px;
    background-image: linear-gradient(to right, rgb(0, 47, 255), rgb(105, 45, 184));
    width: 100vh;
  }

/* Main */

/* Footer */